.header {
    border-bottom: 1px solid #ECECEC;
    background-color: $white-color;
}

.header__wrapper {
    @extend %flex;
}

.header__navigation {
    @extend .header__wrapper;
}

.header__pages-list {
    @media screen  and (max-width: 767px) {
        display: none;
    }
}

.header__pages-link {
    text-decoration: none
}

.header__contact {
    @extend .header__pages-link;
}

.header__logo {
    text-decoration: none;
    color: $blue-color;
    font-family: $secondary-text-font;
    @include text-decoration(normal, 700, 26px, 1.19, 0.03em);

    &-dark {
        color: $main-color;
    }
    @media screen  and (max-width: 767px) {
        @include text-decoration(normal, 700, 24px, 1.17, 0.03em);
        padding-top: 16px;
        padding-bottom: 16px;
    }
    @media screen  and (min-width: 1200px) {
        margin-right: 93px;
        padding-top: 24px;
        padding-bottom: 25px;
    }
}

.header__pages{
    display: flex;
    padding-left: 0px;
    @media screen and (max-width: 1199px) {
        margin-left: 88px;
    } 
}

.header__pages-list { 
    .header__pages & + & {
        margin-left: 50px;
    }
}

.header__pages-link {
    position: relative;
    color: $main-color;
    @include text-decoration(normal, 500, 14px, 1.14, 0.02em); 
    transition: color $animation-time $animation-cubic, visibility $animation-time;
   
    &:hover, 
    &:focus {
        color: $blue-color;
    }
}

.header__pages-link--current {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        display: block;
        @include geometry(100%, 4px);
        @include border-radius(none, 2px);
        background: $blue-color;
        transform: translateY(28px); 
    }
}

.header__contacts{
    margin-left: auto;
    color: $secondary-color;
    @include text-decoration(normal, 500, 14px, 1.14, 0.02em); 
    @media screen and (min-width: 1200px) {
        display: flex;
    } 
}

.header__contacts-list{
        @media screen  and (max-width: 767px) {
            display: none;
        }
    .header__contacts & + & {
        @media screen and (min-width: 1200px) {
            margin-left: 50px;
        } 
        
    }
}

.header__contact {
    color: $secondary-color;
    transition: color $animation-time $animation-cubic, visibility $animation-time;
    @media screen and (max-width: 1199px) {
        display: flex;
        padding-top: 20px;
        padding-bottom: 10px;
        @include text-decoration(normal, 500, 12px, 1.17, 0.02em); 
    } 
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
        @include text-decoration(normal, 500, 14px, 1.14, 0.02em); 
    } 
    &:hover, 
    &:focus {
        color: $blue-color;
    }
}

.--phone {
    @media screen and (max-width: 1199px) {
        padding-top: 0px;
        padding-bottom: 20px;
    }
}
.header__icon-envelope {
    fill: $secondary-color;
    margin-right: 10px;
    @include geometry(16px, 12px);
    transition: fill $animation-time $animation-cubic, visibility $animation-time;

    .header__contact:hover &,
    .header__contact:focus & {
        fill: $blue-color;
    }
}

.header__icon-smartphone {
    fill: $secondary-color;
    margin-right: 10px;
    @include geometry(10px, 16px);
    transition: fill $animation-time $animation-cubic, visibility $animation-time;

    .header__contact:hover &,
    .header__contact:focus & {
        fill: $blue-color;
    }
}

