/**colors**/
$main-color: #212121;
$secondary-color: #757575;
$white-color: #FFFFFF;
$transparency-white-color: rgba(255, 255, 255, 0.6);
$blue-color: #2196F3;
$footer-bgc: #2F303A;
$portfolio-bgc: #E5E5E5;
$team-bgc: #F5F4FA;
$icons-color: #AFB1B8;
$work-text-bgc:rgba(47, 48, 58, 0.8);

/**animation**/
$animation-time: 250ms;
$animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);

/**text-font**/
$main-text-font: Roboto, sans-serif;
$secondary-text-font: Raleway, sans-serif;